<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/inventory.css">
</head>
<body>
    <%- include('../components/navigation.ejs') %>
    <div class="container">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Aggiungi prodotti
        </button>

        <div class="collapse addProductsCollapse" id="collapseExample">
            <div class="card card-body">
                <div>
                    <%- include('../components/addItemsForm.ejs') %>
                </div>
            </div>
        </div>

        
    </div>

    <div class="container">
        <h1>Elenco prodotti</h1>
        <hr>
        <%- include('../components/listItems.ejs') %>
    </div>



<script src="/js/inventory.js"></script>
<%- include('../includes/footer.ejs') %>