<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/inventory.css">
</head>
<body>


    <div class="container">
        
        <div id="addItem">&nbsp;</div>
        <%- include('../components/searchBar.ejs') %>
        
        <!-- Add Item Button -->
        <div class="mb-4">
            <button
                class="btn btn-primary btn-lg w-100 w-md-auto px-4 py-3 d-flex align-items-center justify-content-center collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#addItemForm"
                aria-expanded="false"
                aria-controls="addItemForm"
            >
                <i class="fa-solid fa-plus me-2"></i>
                <span class="add-item-text">Add New Item</span>
                <i class="fa-solid fa-chevron-down ms-2 collapse-icon"></i>
            </button>
        </div>
        
        
        <%- include('./components/addItemsForm.ejs') %>
        
        
        <div class="row">
            <div class="col-md-11"><h1>Elenco prodotti</h1></div>
            <div class="col-md-1 align-self-end small-header-text">
                Prodotti: <span id="totalItems"><%= itemAmount %></span>
            </div>
        </div>
        <hr>
        <div id="itemList">
            <%- include('./components/itemList.ejs') %>
        </div>
        <hr/>

        <%- include('../components/pagination.ejs') %>
    </div>


<script src="/js/inventory.js"></script>
<%- include('../includes/footer.ejs') %>