<%- include('../includes/header.ejs') %>
</head>
<body>
    <div class="container">
        <h1>Dispensa di Ale</h1>

        <form action="/inventory" method="post">
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="qty" placeholder="Quantità">
            <input type="text" name="price" placeholder="Prezzo">
            <input type="text" name="imageUrl" placeholder="URL immagine">
            <button type="submit">Aggiungi</button>
        </form>

    </div>

    <div class="container">
        <% items.forEach(item => { %>
            
                <article class="item">
                    <h2><%= item.name %></h2>
                    <p>Quantità: <%= item.qty %></p>
                    <p>Prezzo: <%= item.price %></p>
                    <img src="<%= item.imageUrl || 'https://placehold.co/100x100' %>" alt="<%= item.name %>">
                    
                    <button class="btn btn-primary">Modifica</button>
                    
                    <form action="/inventory/deleteItem" method="post">
                        <input type="hidden" name="itemId" value="<%= item._id %>">
                        <button class="btn btn-danger">Rimuovi</button>
                    </form>
                </article>
            
        <% }); %>
    </div>




<%- include('../includes/footer.ejs') %>