<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/inventory.css">
</head>
<body>


    <div class="container">
        
        <div id="addItem">&nbsp;</div>
        <div class="collapse addProductsCollapse" id="addItemCollapse">
            <div class="card card-body">
                <div>
                    <%- include('./components/addItemsForm.ejs') %>
                </div>
            </div>
        </div>

        <%- include('../components/searchBar.ejs') %>
        
        <div class="row">
            <div class="col-md-11"><h1>Elenco prodotti</h1></div>
            <div class="col-md-1 align-text-bottom">
                Prodotti: <span id="totalItems"><%= itemAmount %></span>
            </div>
        </div>
        <hr>
        <div id="itemList">
            <%- include('./components/itemList.ejs') %>
        </div>
        
    </div>


<script src="/js/inventory.js"></script>
<%- include('../includes/footer.ejs') %>