<div class="container-fluid shopping-list-container py-3">
    <div class="row g-3 justify-content-center">
        <% shoppingList.forEach((item, index) => { %>
            <div class="col-12 col-md-6 col-xl-5" id="item_<%= item._id %>">
                <div class="shopping-item card border-0 shadow-sm rounded-3 <%= item.isBought ? 'item-bought' : '' %>" data-item-id="<%= item._id %>">
                    <div class="card-body p-3">
                        <div class="row align-items-center g-2 g-md-3">
                            
                            <!-- Checkbox - Mark as Bought -->
                            <div class="col-auto">
                                <div class="form-check">
                                    <input class="form-check-input item-bought-checkbox" type="checkbox" <%= item.isBought ? 'checked' : '' %> data-item-id="<%= item._id %>"
                                        id="bought_<%= item._id %>" name="bought_<%= item._id %>" style="width: 1.5rem; height: 1.5rem; cursor: pointer;">
                                    <label class="visually-hidden" for="bought_<%= item._id %>">
                                        Mark as bought
                                    </label>
                                </div>
                            </div>

                            <!-- Item Name -->
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <div class="item-icon me-2 me-md-3">
                                        <i class="fa-solid fa-basket-shopping text-primary"></i>
                                    </div>
                                    <div class="flex-grow-1">
                                        <input type="text" class="form-control d-none itemNameForm mb-0" value="<%= item.itemName %>"data-item-id="<%= item._id %>">
                                        <h5 class="mb-0 fw-semibold text-dark item-name" 
                                            data-item-id="<%= item._id %>">
                                            <%= item.itemName %>
                                        </h5>
                                        <small class="text-muted d-none d-md-inline">Priority #<%= item.item.buyPriority %></small>
                                    </div>
                                </div>
                            </div>

                            <!-- Quantity Controls -->
                            <div class="col-12 col-md-auto">
                                <div class="quantity-control-wrapper">
                                    <label class="form-label text-muted small mb-1 d-none d-md-block">Quantity</label>
                                    <div class="quantity-control d-flex align-items-center">
                                        <button class="btn btn-outline-secondary btn-qty decrease" 
                                                type="button" 
                                                data-item-id="<%= item._id %>" 
                                                aria-label="Decrease quantity"> 
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                        
                                        <input type="number" class="form-control qty-input text-center mx-1 mx-md-2" value="<%= item.itemQty %>" 
                                            min="0" max="999" data-item-id="<%= item._id %>" aria-label="Item quantity">
                                        <button class="btn btn-outline-secondary btn-qty increase" 
                                                type="button" 
                                                data-item-id="<%= item._id %>" 
                                                aria-label="Increase quantity">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Actions -->
                            <div class="col-auto">
                                <button class="btn btn-link text-muted delete-item p-2" 
                                        data-item-id="<%= item._id %>" 
                                        data-item-name="<%= item.itemName %>"
                                        aria-label="Delete item">
                                    <i class="fa-solid fa-trash-can fs-5"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>