<% items.forEach(item => { %>
    <article class="item" id="article_<%= item._id %>">
        <div class="row">
            <h2><%= item.name %></h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="<%= item.imageUrl || 'https://placehold.co/150?text=No+Image' %>" class="previewImage" alt="<%= item.name %>">
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3"><span><b>Quantità:</b></span></div>
                    <div class="col-md-6" id="article_<%= item._id %>_qty"><%= item.qty %></div>
                </div>
                <div class="row">
                    <div class="col-md-3"><span><b>Prezzo:</b></span></div>
                    <div class="col-md-6"><%= item.price %> €</div>
                </div>
            </div>

            <div class="col-md-1">
                <!-- BUTTONS -->
                <div class="row">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group-vertical me-2" role="group" aria-label="First group">
                            
                            <!-- DELETE -->
                            <button data-item-id="<%= item._id %>" data-item-name="<%= item.name %>" class="btn btn-danger deleteItem">
                                <i class="fa-solid fa-x icon-delete"></i>
                                <span class="spinner-border spinner-border-sm spinner-delete" role="status" aria-hidden="true" style="display: none;"></span>
                            </button>
                            
                            <!-- EDIT -->
                            <button data-item-id="<%= item._id %>" class="btn btn-primary editItem">
                                <i class="fa-solid fa-pencil"></i></a>
                            </button>
                            
                            <!-- +1 -->
                            <button data-item-id="<%= item._id %>" data-item-diff="1" class="btn btn-success moreQuantity"><i class="fa-solid fa-plus"></i></button>
                            
                            <!-- -1 -->
                            <button data-item-id="<%= item._id %>" data-item-diff="-1" class="btn btn-warning lessQuantity"><i class="fa-solid fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>

        <hr>
    </article>
    

<% }); %>