<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/todo.css">
</head>
<body>


    <div class="container">
        <div id="addItem">&nbsp;</div>
        <%- include('../components/searchBar.ejs') %>
        
        <!-- Add Item Button -->
        <div class="mb-4">
            <button
                class="btn btn-primary btn-lg w-100 w-md-auto px-4 py-3 d-flex align-items-center justify-content-center collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#addItemCollapse"
                aria-expanded="false"
                aria-controls="addItemCollapse"
            >
                <i class="fa-solid fa-plus me-2"></i>
                <span class="add-item-text">Add New Item</span>
                <i class="fa-solid fa-chevron-down ms-2 collapse-icon"></i>
            </button>
        </div>

        
        <div class="collapse addProductsCollapse" id="addItemCollapse">
            <div class="card card-body">
                <div>
                    <%- include('./components/addTodoForm.ejs') %>
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col-md-11"><h1>Elenco To-Do</h1></div>
            <div class="col-md-1 align-self-end small-header-text">
                To-Do: <span id="totalItems"><%= todoAmount %></span>
            </div>
        </div>
        <hr>
        
        <%- include('./components/todoFilters.ejs') %>
        
        <div id="todoList">
            <div id="todoList">
                <%- include('./components/todoList.ejs') %>
            </div>
        </div>
        
    </div>

<script src="/js/todo.js"></script>
<%- include('../includes/footer.ejs') %>